In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/cars-purchase-decision-dataset/car_data.csv')
df.head()

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [3]:
df.isnull().sum()

User ID         0
Gender          0
Age             0
AnnualSalary    0
Purchased       0
dtype: int64

In [4]:
df.info

<bound method DataFrame.info of      User ID  Gender  Age  AnnualSalary  Purchased
0        385    Male   35         20000          0
1        681    Male   40         43500          0
2        353    Male   49         74000          0
3        895    Male   40        107500          1
4        661    Male   25         79000          0
..       ...     ...  ...           ...        ...
995      863    Male   38         59000          0
996      800  Female   47         23500          0
997      407  Female   28        138500          1
998      299  Female   48        134000          1
999      687  Female   44         73500          0

[1000 rows x 5 columns]>

In [5]:
dummies = pd.get_dummies(df.Gender)
print(dummies)

     Female  Male
0         0     1
1         0     1
2         0     1
3         0     1
4         0     1
..      ...   ...
995       0     1
996       1     0
997       1     0
998       1     0
999       1     0

[1000 rows x 2 columns]

In [6]:
merge = pd.concat([df,dummies],axis=1)
print(merge)

     User ID  Gender  Age  AnnualSalary  Purchased  Female  Male
0        385    Male   35         20000          0       0     1
1        681    Male   40         43500          0       0     1
2        353    Male   49         74000          0       0     1
3        895    Male   40        107500          1       0     1
4        661    Male   25         79000          0       0     1
..       ...     ...  ...           ...        ...     ...   ...
995      863    Male   38         59000          0       0     1
996      800  Female   47         23500          0       1     0
997      407  Female   28        138500          1       1     0
998      299  Female   48        134000          1       1     0
999      687  Female   44         73500          0       1     0

[1000 rows x 7 columns]

In [7]:
merge.drop(['Gender','Female'], axis=1,inplace=True)
merge

     User ID  Age  AnnualSalary  Purchased  Male
0        385   35         20000          0     1
1        681   40         43500          0     1
2        353   49         74000          0     1
3        895   40        107500          1     1
4        661   25         79000          0     1
..       ...  ...           ...        ...   ...
995      863   38         59000          0     1
996      800   47         23500          0     0
997      407   28        138500          1     0
998      299   48        134000          1     0
999      687   44         73500          0     0

[1000 rows x 5 columns]

In [8]:
merge.isnull().sum()

User ID         0
Age             0
AnnualSalary    0
Purchased       0
Male            0
dtype: int64

In [9]:
corr = merge[['Age','AnnualSalary','Purchased','Male']].corr()
print(corr)

                   Age  AnnualSalary  Purchased      Male
Age           1.000000      0.166042   0.616036 -0.084760
AnnualSalary  0.166042      1.000000   0.364974 -0.063301
Purchased     0.616036      0.364974   1.000000 -0.047211
Male         -0.084760     -0.063301  -0.047211  1.000000

In [10]:
from sklearn.model_selection import train_test_split
x=merge[['Age','AnnualSalary','Male']]
y=merge['Purchased']

In [11]:
x_test,x_train,y_test,y_train= train_test_split(x,y,test_size=0.3)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
model =LogisticRegression() 
model.fit(x_train,y_train)

LogisticRegression()

In [14]:
model.predict(x_test)

array([0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1])

In [15]:
model.score(x_test,y_test)

0.5557142857142857

In [16]:
model.predict_proba(x_test)

array([[0.5154248 , 0.4845752 ],
       [0.51601301, 0.48398699],
       [0.49890993, 0.50109007],
       ...,
       [0.47022872, 0.52977128],
       [0.50412667, 0.49587333],
       [0.48481091, 0.51518909]])